.einn{
-fx-background-image: url("myndir/1.png");
-fx-background-size: cover;
-fx-border-color: black;
}
.tveir{
-fx-background-image: url("myndir/2.png");
-fx-background-size: cover;
-fx-border-color: black;
}
.thrir{
-fx-background-image: url("myndir/3.png");
-fx-background-size: cover;
-fx-border-color: black;
}
.fjorir{
-fx-background-image: url("myndir/4.png");
-fx-background-size: cover;
-fx-border-color: black;
}
.fimm{
-fx-background-image: url("myndir/5.png");
-fx-background-size: cover;
-fx-border-color: black;
}
.sex{
-fx-background-image: url("myndir/6.png");
-fx-background-size: cover;
-fx-border-color: black;
}
.sjo{
-fx-background-image: url("myndir/7.png");
-fx-background-size: cover;
-fx-border-color: black;
}
.atta{
-fx-background-image: url("myndir/8.png");
-fx-background-size: cover;
-fx-border-color: black;
}
.niu{
-fx-background-image: url("myndir/9.png");
-fx-background-size: cover;
-fx-border-color: black;
}

.logo{
-fx-background-image: url("myndir/comingsoon.PNG");
-fx-background-size: cover;
}

.comingSoon{
-fx-background-image: url("myndir/logo.PNG");
-fx-background-size: cover;
}

.kubburIn{
-fx-background-image: url("myndir/gm.PNG");
-fx-background-size: cover;
}
.kubburOut{
-fx-background-image: url("myndir/gridmania.PNG");
-fx-background-size: cover;
}
.shop{
-fx-background-image: url("myndir/shop.PNG");
-fx-background-size: cover;
}
.red{
-fx-border-color: red;
}
